{% extends 'main/base.html' %}

{% block content %}                  
    <div class="row row-cols-1 row-cols-md-5 g-4">  
        {% for p in photos %} 
        <div class="col">
                <div class="card">
                    {% if p.photo_compressed and p.photo_full and p.title and p.content %}
                    <div class="gallery__block">
                        <a href="{{ p.photo_full.url }}" target="_blank">
                        <img src="{{ p.photo_compressed.url }}" class="card-img-top" alt="">
                        </a>
                    </div>
                    {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>  
  {% include 'main/pagination.html' %}

{% endblock %}