{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">        
        {% include 'blog/sidebar.html' %}
    </div>
    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-2">
          {% for a in articles %}   
          <div class="col-md-6">
            <img src="{{ a.thumbnail.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{ a.title }}</h5>
              <p class="card-text">{{ a.short_description|truncatewords:20 }}</p>
              <a href="{{ a.get_absolute_url }}" class="card-link">Ссылка карточки</a>
              <p class="card-text"><small class="text-body-secondary">Создан:{{ a.time_create|date:"d.m.Y" }}</small></p>
              <p class="card-text"><small class="text-body-secondary">Обнавлен:{{ a.time_create|date:"d.m.Y" }}</small></p>
            </div>
          </div>
          {% endfor %}     
        </div>
    </div>
    {% include 'main/pagination.html' %}
    </div>
{% endblock %}