<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Панель навигации</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% for n in nav %}
            {% url n.url_name as my_url %}
                <a class="nav-link {% if my_url == request.path or 'blog' in request.path and '/blog/' == my_url %}btn--active{% endif %}" href="{{ my_url }}" target="_self">{{ n.title }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
  </nav>